[Unit]
Description=Serviço de Exemplo da Aplicação .NET
[Service]
WorkingDirectory=/var/incidencia/
ExecStart=/usr/bin/dotnet /var/incidencia/Marketing.Mvc.dll
Restart=always
# Reinicia após 3 segundos se a aplicação falhar
RestartSec=3
KillSignal=SIGINT
SyslogIdentifier=incidencia-service
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target